{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Restaurant</title>
    
    <!-- External CSS links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav>
        <div>
            <img id="logo" src="{% static 'images/logo.png' %}" alt="Restaurant logo">
            <h3>Our Restaurant</h3>
        </div>

        <div class="nav-links">
            <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a>
            <a href="{% url 'menu' %}"><i class="fa-solid fa-utensils"></i> Menu</a>
            <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
        </div>
    </nav>
    
    <main>
        {% block content %}
        <!-- Individual page content will be injected here. -->
        {% endblock content %}
    </main>

    <footer>
        <div>
            <img id="logo" src="{% static 'images/logo.png' %}" alt="Restaurant logo">
            <h3>Our Restaurant</h3>
        </div>
        <p>Delicious food made with love ❤️</p>
        <p>&copy; 2026 Our Restaurant. All rights reserved.</p>
    </footer>
    
    <!-- Link to custom JavaScript file for cart interactions and calculations -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>